
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;900;600&display=swap');

.img{
    width: 50%;
    margin-left: 100px;
}
.heading{
    font-size: 30px;
    color: #ffffff;
    font-family: 'Inter';
    text-align: left;
    font-weight: 600;
}

.content{
    font-size: 15px;
    font-family: 'Inter' !important;
    text-align: left;
    color: #ffffff;
    width: 65%;
    text-align: justify;
    margin-bottom: 20px;
}
.btn{
    width: 165px;
    height: 52px;
    font-size: 14px;
    background-color: #1E4D98 !important;
    border-radius: 10px !important;
    border-color: #ffffff !important;
}
.text{
    margin-left: 50px;
    margin-top: 50px;
}
.to{
    margin-left: 25px;
    cursor: pointer;
}

@media screen and (max-width:1200px) {
    .text{
        margin-top: 20px
    }
}

@media screen and (max-width:1100px) {
    .heading{
        font-size: 25px;
    }
    .subHeading{
        font-size: 28px;
        width: 300px;
    }
    .btn{
        height: 50px;
        width: 200px;
    }
}
@media screen and (max-width:950px) {
    .imgDiv{
        margin-top: 100px;
    }
}

@media screen and (max-width:767px) {
    .imgDiv{
        margin-top: 0px;
    }
    .heading{
        font-size: 20px;
    }
    .subHeading{
        font-size: 22px;
        margin-bottom: 22px;
    }
}
@media screen and (max-width:500px) {
    .heading{
        font-size: 18px;
    }
    .subHeading{
        font-size: 20px;
        margin-bottom: 20px;
        width: 70%;
    }
    .content{
        margin-bottom: 23px;
    }
}

@media screen and (max-width:355px) {
    .subHeading{
        width: 100%;
    }
}