
.heading{
    font-size: 18px;
    color: #A7ABB6;
    font-family: 'Asap';
    font-weight: 400;
    text-align: center;
    margin-top: -60px;
    margin-bottom: 34px;
    line-height: 1.3;
}
.contain{
    margin-top: 100px; 
}




@media screen and (max-width: 1200px){
    .heading{
        font-size: 40px;
    }
    .row{
        padding: 0px 6px;
        margin-top: 85px;
    }
    .column{
        padding: 0px 6px;
    }
    .column img{
        margin-top: 11px;
    }
    .col1{
        margin-top: 70px;
    }
}
@media screen and (max-width: 991px){
    .head{
        font-size: 25px;
    }
    .heading{
        width: 100%;
    }
    .row{
        margin-top: 110px;
    }
    .col1{
        margin-top: 60px;
    }
}
@media screen and (max-width: 768px){
    .row{
        margin-top: 50px;
        justify-content: center;
    }
    .col1{
        margin-top: 80px;
    }
}

@media screen and (max-width: 500px){
    .head{
        font-size: 20px;
    }
    .heading{
        font-size: 34px;
    }
    .btn{
        width: 200px;
        height: 54px;
    }

    .row{
        padding: 0px 4px;
        margin-top: 20px;
    }
    .column{
        padding: 0px 4px;
    }
    .column img{
        margin-top: 8px;
    }
}

@media screen and (max-width: 428px){
    .col1{
        margin-top: 60px;
    }
    .contain{
        margin-bottom: 80px;
        margin-top: 80px;
    }
}
@media screen and (max-width: 340px){
    .col1{
        margin-top: 40px;
    }

}