.react-multi-carousel-dot > button{
    background-color: #4F4F4F !important;
    border: 0px !important;
    width: 10px !important;
    height: 10px !important;
}
.react-multi-carousel-dot--active > button{
    background-color: #1E4D98 !important;
}