.contain{
    margin-top: 68px;
    margin-bottom: 68px;
}
.heading{
    font-family: 'Inter';
    font-size: 38px !important;
    color: #333333;
    font-weight: 700;
    margin-top: -10px;
    /* margin-bottom: 76px; */
    width: 400px;
}
.head{
    font-family: 'Inter';
    font-size: 16px;
    color: #333333;
    font-weight: 400;
    margin-top:20px;
}
.content{
    font-family: 'Inter';
    font-weight: 700;
    text-align: left;
    font-size: 20px;
    color: #333333;
}
.text{
    font-family: 'Inter';
    font-weight: 400;
    text-align: left;
    font-size: 14px;
    color: #333333;
}
.email{
    font-family: 'Poppins';
    font-size: 30px;
    color: #222a41;
    font-weight: bold;
    margin-top: 43px;
    margin-bottom: 43px;
}
.label{
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 500;
    color: #323232;
    margin-bottom: 9px;
}
.msg{
    height: 183px !important; 
    padding-top: 15px;
}
.input{
    width: 260px;
    background-color: #F2F2F2;
    border-radius: 6px;
    border: solid 1px #DDE5E9;
    height: 40px;
    margin: 9px 0px 40px;
    padding-left: 15px;
}
.input:focus{
    outline: none;
    border: solid 1px #afacac;
}
.btn{
    font-size: 16px;
    height: 60px;
    width: 160px;
    border-radius: 5px !important;
    margin-top: 37px;
}

@media screen and (max-width: 1200px) {
    .heading{
        font-size: 30px;
    }
    .head{
        font-size: 18px;
        margin-top: 50px;
    }
    .content{
        font-size: 18px;
    }
    .email{
        font-size: 25px;
    }
}

@media screen and (max-width: 768px){
    .heading{
        width: 100%;
    }
    .head{
        margin-top: 30px;
    }
}

@media screen and (max-width: 600px){
    .heading{
        font-size: 23px;
    }
    .head{
        margin-top: 25px;
        font-size: 16px;
    }
    .content{
        font-size: 16px;
    }
    .label{
        font-size: 14px;
    }
    .input{
        height: 40px;
    }
}